/*
  =======================
  Global stylings
  =======================
*/
@font-face {
  font-family: "Cocogoose_Regular";
  src: url("../fonts/cocogoose/Cocogoose_trial.otf") format("opentype"), url("../fonts/cocogoose/Cocogoose_trial.eot?") format("eot"), url("../fonts/cocogoose/Cocogoose_trial.woff") format("woff"), url("../fonts/cocogoose/Cocogoose_trial.ttf") format("truetype"), url("../fonts/cocogoose/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cocogoose-Pro-Semilight";
  src: url("../fonts/cocogoose/Cocogoose Pro Semilight-trial.ttf") format("truetype");
}
@font-face {
  font-family: "Cocogoose-Pro-Light";
  src: url("../fonts/cocogoose/Cocogoose Pro Light-trial.ttf") format("truetype");
}
@font-face {
  font-family: "Cocogoose-Pro-Ultralight";
  src: url("../fonts/cocogoose/Cocogoose Pro Ultralight-trial.ttf") format("truetype");
}
@font-face {
  font-family: "Cocogoose-Letter-press";
  src: url("../fonts/cocogoose/COCOGOOSELETTERPRESS TRIAL.ttf") format("truetype");
}
html {
  font-size: 12px;
}

/*
  =======================
  General layout
  =======================
*/
.hidden {
  position: absolute;
  left: -9999999px;
}

/*
  =======================
  Typography
  =======================
*/
body {
  font: 400 1rem/1.3rem "Lato", sans-serif;
  letter-spacing: normal;
  color: #565656;
}

h1 {
  font: 400 1em/1.1em "Cocogoose_Regular", sans-serif;
  letter-spacing: normal;
}

h2,
h3 {
  font: 400 1.4em/1.3em "Lato", sans-serif;
  letter-spacing: -0.3px;
}

a {
  font: inherit inherit/inherit inherit;
  letter-spacing: normal;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/*
  =======================
  Above the Fold
  =======================
*/
.above-fold {
  background-color: #f5f5f5;
  font-size: 1rem;
}

.main-section-title {
  font-size: 2.3em;
}

.main-section-title span {
  font: normal 0.55em/1.3em "Cocogoose-Pro-Light", sans-serif;
  letter-spacing: normal;
}

.event-date {
  font: 400 1.75em/1.1em "Cocogoose_Regular", sans-serif;
  letter-spacing: -0.2px;
}

.event-date-para {
  font-size: 1.08em;
}

/*
  =======================
  Main Program
  =======================
*/
.main-program {
  background-color: #272a31;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 300;
}

.red-underline::before {
  position: absolute;
  content: "";
  border-bottom: #ec5242 1px solid;
  bottom: 0;
  width: 30px;
}

.main-program-feature {
  background-color: rgba(255, 255, 255, 0.05);
  display: grid;
  grid-template-columns: auto 1fr 58%;
  grid-column-gap: 1em;
  align-items: center;
  max-width: 500px;
}

.main-program-feature i.fas {
  font-size: 1.8em;
}

.main-program-feature-title {
  color: #ec5242;
}

.main-program-feature-para {
  line-height: 1.4em;
}

.main-program-mobile-join {
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 400;
  background-color: #ec5242;
  padding: 1.8em 3.5em;
}

/*# sourceMappingURL=main.css.map */
