/*
  =======================
  Global stylings
  =======================
*/

@font-face {
  font-family: 'Cocogoose_Regular';
  src: url('../fonts/cocogoose/Cocogoose_trial.otf') format('opentype'),
    url("../fonts/cocogoose/Cocogoose_trial.eot?") format("eot"),
    url("../fonts/cocogoose/Cocogoose_trial.woff") format("woff"),
    url("../fonts/cocogoose/Cocogoose_trial.ttf") format("truetype"),
    url("../fonts/cocogoose/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose-Pro-Semilight';
  src: url('../fonts/cocogoose/Cocogoose\ Pro\ Semilight-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Cocogoose-Pro-Light';
  src: url('../fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Cocogoose-Pro-Ultralight';
  src: url('../fonts/cocogoose/Cocogoose\ Pro\ Ultralight-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Cocogoose-Letter-press';
  src: url("../fonts/cocogoose/COCOGOOSELETTERPRESS\ TRIAL.ttf") format("truetype");
}

html {
  font-size: 13px;
}

// Background Colors //

$primary-color: #ec5242;
$secondary-color: #272a31;
$gray: #d3d3d3;
$light-gray: #f5f5f5;
$ultra-light-gray: #fefefe;
$gray-dark: #2e2e2e;
$gray-semidark: #414246;

// Fonts //

$primary-font: 'Lato',
sans-serif;
$secondary-font: 'Cocogoose_Regular',
sans-serif;
$secondary-font-semilight: 'Cocogoose-Pro-Semilight',
sans-serif;
$primary-font-light: 'Cocogoose-Pro-Light',
sans-serif;

// Font Colors //

$gray-font: #565656;
$white-font: rgba(255, 255, 255, 0.8);

@mixin font-styles($weight: 400, $font-size: 1em, $line-height: 1.3em, $font: $primary-font, $letter-spacing: normal) {
  font: $weight #{$font-size}/#{$line-height} $font;
  letter-spacing: $letter-spacing;
}

/*
  =======================
  General layout
  =======================
*/

.hidden {
  position: absolute;
  left: -9999999px;
}

.overflow-hidden {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

/*
  =======================
  Typography
  =======================
*/

body {
  @include font-styles($font-size: 1rem, $line-height: 2rem);
  color: $gray-font;
  background-color: $light-gray;
}

h1 {
  @include font-styles($font-size: 1em, $line-height: 1.1em, $font: $secondary-font);
}

%h2 {
  @include font-styles($font-size: 1.4em, $font: $primary-font, $letter-spacing: -0.3px);
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h2;
  font-size: 1.2em;
}

a {
  @include font-styles(inherit, inherit, inherit, inherit);
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/*
  =======================
  Header
  =======================
*/

.header {
  line-height: 1.3rem;
}

/*
  =======================
  Above the Fold
  =======================
*/

.above-fold {
  padding-bottom: 1em;
}

.main-section-title {
  font-size: 2.1em;
}

.above-fold-para {
  background-color: $ultra-light-gray;
  margin: 0 auto;
}

.about-section-para {
  max-width: 650px;
  margin: 0 auto;
}

/*
  =======================
  Logo Selection
  =======================
*/

.section-title {
  font-weight: 600;
}

.logo-frame {
  max-width: max-content;
  padding: 5% 20%;
}

.logo {
  max-width: 300px;
  min-width: 100px;
  height: auto;
}

/*
  =======================
  Past S&B Summits
  =======================
*/

.past-summit-grid {
  max-width: 450px;
}

.past-summit-link {
  margin: 0.5em 0;
  color: $ultra-light-gray;
  width: 100%;
  height: 0;
  padding-top: 55%;
}

.past-summit-bg,
.past-summit-para {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.past-summit-bg {
  background-color: $primary-color;
}

.summit-bg-2019 {
  background: linear-gradient(rgba($color: black, $alpha: 0.2), rgba($color: black, $alpha: 0.2)), linear-gradient(rgba($color: $primary-color, $alpha: 0.8), rgba($color: $primary-color, $alpha: 0.8)), url("../images/S&BC2019.jpg") center center/cover;
}

.summit-bg-2018 {
  background: linear-gradient(rgba($color: black, $alpha: 0.2), rgba($color: black, $alpha: 0.2)), linear-gradient(rgba($color: $primary-color, $alpha: 0.8), rgba($color: $primary-color, $alpha: 0.8)), url("../images/S&BC2018.jpg") center center/cover;
}

.past-summit-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 1.2em;
}

.past-summit-para h3 {
  font-size: 2.7em;
  font-weight: 600;
}

.past-summit-para span {
  font-size: 1.2em;
}

@media (min-width: 768px) {

  /* Above Fold */

  .above-fold,
  .past-summit-grid {
    max-width: 1200px;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .above-fold {
    padding-bottom: 1em;
    margin: 0 auto;
  }

  .main-section-title {
    font-size: 3.5em;
  }

  .above-fold-para {
    max-width: 100%;
  }

  /* Past S&B Summits */

  .past-summit-grid-row {
    margin: 0 -5px;
  }

  .past-summit-link {
    margin: 0.5em 0;
    color: $ultra-light-gray;
    height: 0;
    padding-top: 22.5%;
  }
}