/*
  =======================
  Global stylings
  =======================
*/

@font-face {
  font-family: 'Cocogoose_Regular';
  src:  url('../fonts/cocogoose/Cocogoose_trial.otf') format('opentype'),
        url("../fonts/cocogoose/Cocogoose_trial.eot?") format("eot"),
        url("../fonts/cocogoose/Cocogoose_trial.woff") format("woff"),
        url("../fonts/cocogoose/Cocogoose_trial.ttf") format("truetype"),
        url("../fonts/cocogoose/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose-Pro-Semilight';
  src: url('../fonts/cocogoose/Cocogoose\ Pro\ Semilight-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Cocogoose-Pro-Light';
  src: url('../fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Cocogoose-Pro-Ultralight';
  src: url('../fonts/cocogoose/Cocogoose\ Pro\ Ultralight-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Cocogoose-Letter-press';
  src: url("../fonts/cocogoose/COCOGOOSELETTERPRESS\ TRIAL.ttf") format("truetype");
}

html {
  font-size: 13px;
}

// Colors //

$primary-color: #ec5242;
$secondary-color: #272a31;
$gray: #d3d3d3;
$light-gray: #f5f5f5;
$gray-dark: #2e2e2e;
$gray-font: #565656;

// Fonts //

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Cocogoose_Regular', sans-serif;
$secondary-font-semilight: 'Cocogoose-Pro-Semilight', sans-serif;
$primary-font-light: 'Cocogoose-Pro-Light', sans-serif;

@mixin font-styles($weight: 400, $font-size: 1em, $line-height: 1.3em, $font: $primary-font, $letter-spacing: normal) {
  font: $weight #{$font-size}/#{$line-height} $font;
  letter-spacing: $letter-spacing;
}

/*
  =======================
  General layout
  =======================
*/

.hidden {
  position: absolute;
  left: -9999999px;
}

.overflow-hidden {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

/*
  =======================
  Typography
  =======================
*/

body {
  @include font-styles($font-size: 1rem, $line-height: 1.3rem);
  color: $gray-font;
}

h1 {
  @include font-styles($font-size: 1em, $line-height: 1.1em, $font: $secondary-font);
}

%h2 {
  @include font-styles($font-size: 1.4em, $font: $primary-font, $letter-spacing: -0.3px);
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h2;
  font-size: 1.2em;
}

a {
  @include font-styles(inherit, inherit, inherit, inherit);
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/*
  =======================
  Above the Fold
  =======================
*/

.above-fold {
  background-color: $light-gray;
  font-size: 1rem;
}

.main-section-title {
  font-size: 2.3em;
}

.main-section-title span {
  @include font-styles($weight: normal, $font-size: 0.55em, $font: $primary-font-light);
}

.event-date {
  @include font-styles($font-size: 1.75em, $line-height: 1.1em, $font: $secondary-font, $letter-spacing: -0.2px);
}

.event-date-para {
  font-size: 1.08em;
}

/*
  =======================
  Main Program
  =======================
*/

.main-program {
  background-color: $secondary-color;
  color: rgba(255,255,255,0.8);
  font-size: 1rem;
  font-weight: 300;
}

.red-underline::before {
  position: absolute;
  content: "";
  border-bottom: $primary-color 2px solid;
  bottom: 0;
  width: 35px;
}

.main-program-feature {
  background-color: rgba(255,255,255,0.05);
  display: grid;
  grid-template-columns: auto 22.5% 58%;
  grid-column-gap: 1em;
  align-items: center;
  max-width: 450px;
}

.main-program-feature i.fas {
  font-size: 2em;
  text-align: right;
}

.main-program-feature-title {
  color: $primary-color;
}

.main-program-feature-para {
  line-height: 1.4em;
}

.main-program-mobile-join {
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 400;
  background-color: $primary-color;
  padding: 1.8em 0;
  width: 300px;
  min-width: auto;
}

/*
  =======================
  Featured Speakers
  =======================
*/
.featured-speakers {
  font-size: 1rem;
  color: $secondary-color;
  max-width: 450px;
}

.featured-speakers-title,
.speaker-name {
  font-weight: 600;
}

.profile-picture-div {
  width: 100px;
  height: 100px;
}

.profile-pattern {
  width: 45%;
  height: 45%;
  background-color: $gray;
  background: url("../images/black-square-pattern.png") -10px -5px/50% repeat;
}

.profile-picture {
  object-fit: cover;
  width: 90px;
  height: 90px;
  bottom: 0;
  right: 0;
}

.position-correction {
  object-position: center top;
}

.speaker-text {
  display: grid;
}

.speaker-name {
  font-size: 1.15em;
}

.speaker-sub-title {
  color: #ec5242;
}

.speaker-text hr {
  width: 1.3em;
  border-color: $gray;
  border-width: 2px;
}

.speaker-summary {
  font-size: 0.9em;
}
