/*
  =======================
  Global Settings
  =======================
*/
  
@font-face {
  font-family: "Cocogoose";
  src: url("../../fonts/cocogoose/Cocogoose\ Pro-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;;
}

@font-face {
  font-family: "Cocogoose";
  src: url("../../fonts/cocogoose/Cocogoose\ Pro\ Italic-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

// color variables

$dark: #272a31;
$orange: #ec5242;
$gray: #d3d3d3;


//font variables

$titles-font: "Cocogeese", Helvetica, sans-serif;
$body-font: 'Lato', sans-serif;

/*
  =======================
  General layout
  =======================
*/


/*
  =======================
  Typography
  =======================
*/

